<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seculayer.web.boards.dao.BoardsDAO">
	<!-- ***** Boards Start ***** -->
	
	<select id="selectBoards" resultType="map">
		 SELECT
		 	boards_id,
			boards_subject,
			boards_content,
			boards_writer,
			boards_email,
			boards_rdate
		FROM 
			BOARDS
		WHERE
			boards_id = #{boards_id}
	</select>
	
	<select id="selectBoardsList" resultType="map">
		SELECT
			boards_id,
			boards_subject,
			boards_content,
			boards_writer,
			boards_email,
			boards_rdate
		FROM 
			BOARDS
		<where>
			<if test="s_boards_subject != null and s_boards_subject != ''">
			AND boards_subject LIKE CONCAT('%',#{s_boards_subject},'%')
			</if>
			<if test="s_boards_writer != null and s_boards_writer != ''">
			AND boards_writer LIKE CONCAT('%',#{s_boards_writer},'%')
			</if>
		</where>
		ORDER BY boards_id
		<choose>
			<when test="recordstartindex==null">
				LIMIT 0, 10
			</when>
			<otherwise>
				LIMIT #{recordstartindex}, #{pagesize}
			</otherwise>
		</choose>
	</select>

	<select id="selectBoardsListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM BOARDS
		<where>
			<if test="s_boards_subject != null and s_boards_subject != ''">
			AND boards_subject LIKE CONCAT('%',#{s_boards_subject},'%')
			</if>
			<if test="s_boards_writer != null and s_boards_writer != ''">
			AND boards_writer LIKE CONCAT('%',#{s_boards_writer},'%')
			</if>
		</where>
	</select>
	
	<select id="checkBoards" resultType="int">
		SELECT
			COUNT(*)
		FROM
			BOARDS
		WHERE
			boards_id = #{boards_id}
	</select>
	
	<insert id="insertBoards" parameterType="map">
		INSERT INTO BOARDS (
			boards_subject,
			boards_content,
			boards_writer,
			boards_email,
			boards_rdate,
			proc_id,
		    proc_ip,
		    proc_dt
		)
		VALUES (
			#{boards_subject},
			#{boards_content},
			#{boards_writer},
			#{boards_email},
			DATE_FORMAT(NOW(), '%Y%m%d%H%i%S'),
			#{proc_id},
		    #{proc_ip},
			DATE_FORMAT(NOW(),'%Y%m%d%H%i%S')
		)	
	</insert>
	
	<delete id="deleteBoards" parameterType="map">
		DELETE FROM BOARDS
		WHERE
			boards_id = #{boards_id}
	</delete>
	
	<update id="updateBoards" parameterType="map">
		UPDATE BOARDS SET
			boards_subject = #{boards_subject},
			boards_content = #{boards_content},
			boards_writer = #{boards_writer},
			boards_email = #{boards_email},
			boards_rdate = DATE_FORMAT(NOW(), '%Y%m%d%H%i%S'),
			proc_id = #{proc_id},
		    proc_ip = #{proc_ip},
		    proc_dt = DATE_FORMAT(NOW(),'%Y%m%d%H%i%S')
		WHERE
			boards_id = #{boards_id}
	</update>
	
</mapper>