<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.seculayer.web.system.dao.AlarmManagerDAO">
	<!-- ***** Alarm Manager Start ***** -->
	<!-- ***** ALARM_MNG ***** -->
	<select id="selectAlarmMng" resultType="map">
		SELECT
		    mail_use_yn,
		    sms_use_yn,
		    snd_use_yn,
		    kakao_use_yn
		FROM 
			ALARM_MNG
	</select>	
	<update id="updateAlarmMng" parameterType="map">
		UPDATE ALARM_MNG SET
			mail_use_yn = #{mail_use_yn},
		    sms_use_yn = #{sms_use_yn},
		    snd_use_yn = #{snd_use_yn},
		    kakao_use_yn = #{kakao_use_yn}
	</update>
	
	<!-- ***** ALARM_CONDITION ***** -->
	<select id="selectAlarmConditionList" resultType="map">
		SELECT
		    alarm_cd,
		    alarm_cond
		FROM 
			ALARM_CONDITION
	</select>	
	<insert id="insertAlarmCondition" parameterType="map">
		INSERT INTO ALARM_CONDITION (
			alarm_cd,
		    alarm_cond
		)
		VALUES 
		<foreach item="condition" collection="insertConditionList" open="(" separator="),(" close=")">
			#{condition.alarm_cd}, #{condition.alarm_cond}
		</foreach>
	</insert>
	
	<delete id="deleteAlarmCondition">
		 DELETE FROM ALARM_CONDITION
	</delete>
	
	<!-- ***** ALARM_RECEIVER ***** -->
	<select id="selectAlarmUserList" resultType="map">
		SELECT A.user_id, A.user_nm, A.mail_addr, A.mobile_no
		  FROM COM_USER A, ALARM_RECEIVER B
		 WHERE A.user_id = B.user_id
	</select>
	<select id="selectAlarmReceiver" resultType="map">
		SELECT
		    user_id
		FROM 
			ALARM_RECEIVER
		<where>
			<if test="user_id != null and user_id != ''">
				user_id = #{user_id}
			</if>
		</where>
	</select>	
	<insert id="insertAlarmReceiver" parameterType="map">
		INSERT INTO ALARM_RECEIVER (
			user_id
		)
		VALUES 
		<foreach item="receiver" collection="insertReceiverList" open="(" separator="),(" close=")">
			#{receiver}
		</foreach>
	</insert>
	
	<delete id="deleteAlarmReceiver">
		 DELETE FROM ALARM_RECEIVER
	</delete>
	
	<!-- ***** Alarm Manager End ***** -->
</mapper>
